.mat-card-animais{
  border: 1px solid #CFD8DC; 
  border-radius: 4px 3px 6px / 2px 4px; 
  padding-top: 15px; 
  padding-left: 0%; 
  padding-right: 0%; 
  padding-bottom: 0%;
  margin: 5px;
}
.mat-card-title-live{
  padding-left:10px; 
  padding-top: 0px; 
  padding-right: 15px; 
  margin-bottom: 0px; 
  min-height: 70px;
}
.mat-card-title-img{
 margin-inline-start: auto;
  width: 100%;

}

.editar-button {
  border: none;
  line-height: 20px;
  background: #A9CB73;
  margin-bottom: 25px;
}