<mat-tab-group mat-align-tabs='start' style=' padding-top:  5px; padding-left: 2%; padding-right: 2%;'>
  <mat-tab label='Pets '>
    <mat-card-title style=' padding-top:  70px; margin-left: 45%;'> Editar Pets</mat-card-title>
    <div fxLayout="row wrap" fxLayoutAlign="start center" style=' padding: 2%;' >
      <ng-container *ngFor='let animal of listAnimal' style='margin: 0.5%;'>

        <mat-card class="mat-card-animais"
        fxFlex='0 1 calc(33.3% - 11px)'
        fxFlex.lt-md='0 1 calc(50% - 11px)'
        fxFlex.lt-sm='100%'>
          <mat-card-title class="mat-card-title-live">
            <div class="column">
              <p style="font-size: 0.9rem;">
                <mat-label fxFlex='50' fxLayoutAlign='start center'>Nome:</mat-label>
                <span fxFlex='30' fxLayoutAlign='start center' >{{animal.Nome}}</span>
                <span fxFlex></span>
              </p>
              <p  style="font-size: 0.9rem;">
              <mat-label fxFlex='50'fxLayoutAlign='start center'>Ong:</mat-label>
                <span fxFlex='30' fxLayoutAlign='start center'>{{animal.OrganizacaoNome}}</span>
                <span fxFlex></span>
              </p>

            </div>
            
          </mat-card-title >
          <img mat-card-image class="mat-card-title-img" src="assets/image/dogpic.jpg" style="height: 10%;" alt="Photo of a Shiba Inu" fx >
          <mat-card-content>
            <p>
              <mat-label fxFlex='50'fxLayoutAlign='start center'>Raça:</mat-label>
                <span fxFlex='30' fxLayoutAlign='start center'>{{animal.Raca}}</span>
                <span fxFlex></span>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Editar</button>
            <button mat-button>Delete</button>
          </mat-card-actions>
        </mat-card>

      </ng-container>

    </div>
  </mat-tab>

</mat-tab-group>
