<div class="wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <img class="logo" src="assets/image/logo2.png" mat-card-image style="max-width: 50%; max-height: 50%;">
    </mat-card-header>
    <form class="form" [formGroup]="loginForm">
      <mat-card-content>
        <mat-form-field class="field-full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="Email" name="Email">
        </mat-form-field>
        <mat-form-field class="field-full-width">
          <mat-label>Senha</mat-label>
          <input matInput formControlName="Senha" name="Senha" type="password">
        </mat-form-field>
        <section class="login-section">
          <mat-radio-group>
            
            <a style="margin: 0 100px" href="/esqueceu-senha-email">Esqueceu sua Senha?</a>
          </mat-radio-group>
        </section>
      </mat-card-content>
      <button mat-stroked-button color="basic" (click)='doLogin()' class="btn-block">Login</button>
      <div>
        <p>Não possui conta?
          <a style="margin: 0 15px" href="/cadastro">Criar Conta</a></p>
      </div>
    </form>
  </mat-card>
</div>
