<mat-tab-group mat-align-tabs='start' style=' padding-top:  5px; padding-left: 2%; padding-right: 2%;'>
    <mat-tab label='Pets '>
        <mat-card-title style=' padding-top:  70px; margin-left: 37%;'> Escolha uma ong cadastrada e entre em contato</mat-card-title>
      <div fxLayout="row wrap" fxLayoutAlign="start center" style=' padding: 2%;' >
        <ng-container *ngFor='let ong of listOng' style='margin: 0.5%;'>
  
          <mat-card class="mat-card-animais"
          fxFlex='0 1 calc(33.3% - 11px)'
          fxFlex.lt-md='0 1 calc(50% - 11px)'
          fxFlex.lt-sm='100%'>
            <mat-card-title class="mat-card-title-live">
              <div class="column">
                <img mat-card-image class="mat-card-title-img" src="assets/image/logoong.png" style="height: 10%;" alt="Photo of a Shiba Inu" fx >
                <p style="font-size: 0.9rem;">
                  <mat-label fxFlex='50' fxLayoutAlign='start center'>Nome Ong:</mat-label>
                  <span fxFlex='30' fxLayoutAlign='start center' >{{ong.Nome}}</span>
                  <span fxFlex></span>
                </p>
                <p  style="font-size: 0.9rem;">
                <mat-label fxFlex='50'fxLayoutAlign='start center'>Email:</mat-label>
                  <span fxFlex='30' fxLayoutAlign='start center'>{{ong.Email}}</span>
                  <span fxFlex></span>
                </p>
                <p  style="font-size: 0.9rem;">
                    <mat-label fxFlex='50'fxLayoutAlign='start center'>Site:</mat-label>
                      <span fxFlex='30' fxLayoutAlign='start center'>{{ong.Site}}</span>
                      <span fxFlex></span>
                </p>
                <p  style="font-size: 0.9rem;">
                     <mat-label fxFlex='50'fxLayoutAlign='start center'>Instagram:</mat-label>
                        <span fxFlex='30' fxLayoutAlign='start center'>{{ong.Instagram}}</span>
                        <span fxFlex></span>
                </p>
                <p  style="font-size: 0.9rem;">
                    <mat-label fxFlex='50'fxLayoutAlign='start center'>Telefone para Contato:</mat-label>
                         <span fxFlex='30' fxLayoutAlign='start center'>{{ong.Numero}}</span>
                        <span fxFlex></span>
                </p>
                <p style="font-size: 0.9rem;">
                        <mat-label fxFlex='50'fxLayoutAlign='start center'>Vakaquinha:</mat-label>
                            <span fxFlex='30' fxLayoutAlign='start center'>{{ong.Vakaquinha}}</span>
                            <span fxFlex></span>
                </p>
            </div>
                </mat-card-title >     
                </mat-card>
            </ng-container>
        </div>
    </mat-tab>
</mat-tab-group>