<div class="wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="forgot-box">
    <mat-card-header>
      <img class="logo" src="assets/image/logo2.png" mat-card-image style="max-width: 50%; max-height: 50%;">
    </mat-card-header>
    <form class="form" [formGroup]="forgoutForm">
    <mat-card-content>
      <mat-form-field class="field-full-width" >
        <mat-label>Digite seu email</mat-label>
        <input matInput formControlName="Email" name="Digite seu email">
       
      </mat-form-field>
    </mat-card-content>
    <button mat-stroked-button color="basic" (click)='doForgoutPass()' class="btn-block">Enviar</button>
    
  </form>
  </mat-card>
</div>

