.mat-card-animais{
  border: 1px solid #CFD8DC; 
  border-radius: 4px 3px 6px / 2px 4px; 
  padding-top: 15px; 
  padding-left: 0%; 
  padding-right: 0%; 
  padding-bottom: 0%;
  margin: 5px;
}
.mat-card-title-img{
  margin-inline-start: auto;
   width: 50%;
   margin-left: 25%;
 
 }