<div class="wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="cat-box">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <mat-card class="card1">
      <img mat-card-image src="assets/image/dogpic.jpg"  >
    </mat-card>
    </mat-grid-tile>
  
  <mat-grid-tile class="dados"  [colspan]=1 [rowspan]=2>
      <mat-card class="card2"  style="height: 100%; margin-top: 5%;">
        <form class="form" [formGroup]="animalRegisterForm">
        <mat-card-content>
          <mat-form-field class="field-register">
            <mat-label>Tipo Animal</mat-label>
            <input matInput formControlName="TipoAnimal" name="TipoAnimal">
          </mat-form-field>
          <mat-form-field class="field-register">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="Nome" name="Nome">
          </mat-form-field>
          <mat-form-field class="field-register">
            <mat-label>Raça</mat-label>
            <input matInput formControlName="Raca" name="Raca">
          </mat-form-field>
          <mat-form-field class="field-register">
            <mat-label>Porte</mat-label>
            <input matInput formControlName="Porte" name="Porte">
          </mat-form-field>
          <mat-form-field class="field-register">
            <mat-label>Idade</mat-label>
            <input matInput formControlName="Idade" name="Idade">
          </mat-form-field>
          <mat-form-field class="field-register">
            <mat-label>Sexo</mat-label>
            <input matInput formControlName="Sexo" name="Sexo">
          </mat-form-field>
          <mat-form-field class="field-register">
            <mat-label>Organizacao Nome</mat-label>
            <input matInput formControlName="OrganizacaoNome" name="OrganizacaoNome">
          </mat-form-field>
          <mat-form-field class="field-register">
            <mat-label>Email</mat-label>
            <input matInput formControlName="Email" name="Email">
          </mat-form-field>
      </mat-card-content>   
    </form>
  </mat-card>
  </mat-grid-tile>
  <mat-grid-tile class="card3">
    <mat-card class="card3">
      <mat-form-field class="field-full-width" style = 'max-width: 100%' >
        <form class="form" [formGroup]="animalRegisterForm">
        <mat-label >Descrição</mat-label>
        <textarea matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="15"
        formControlName="Descricao" name="Descricao"></textarea>
      </form>
      </mat-form-field>
    </mat-card>
  </mat-grid-tile>
  </mat-grid-list>
  <div class="button">
    <div  >
      <button mat-stroked-button color="basic" (click)='doAnimalRegister()' class="button1">Cadastrar</button>
    </div>
  </div>
  </mat-card>
  </div>