<div class="wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="home-box">
    <body>
      <main>
        <div class="img1">
          <img class="home-logo2" src="assets/image/logo2.png" alt="logo2" />
        </div>
        

        <h1 class="titulo">
          <strong
            >Sobre o Amor ? Você não pode comprar, mas pode ADOTAR !</strong
          >
        </h1>

        <p class="paragrafo">
         <strong> O sistema AdotaPet consiste em um site e um aplicativo nos quais as
          pessoas interessadas em adotar um bichinho podem se cadastrar e
          encontrar o pet perfeito ou descobrir ONGs próximas a elas e fazer
          doações de forma fácil e rápida.
        </strong>
        </p>

        <hr />
        <div class="img2">
          <img class="home-cg1" src="assets/image/cg1.png" alt="cg1" />
        </div>


        <div class="wrapper-center">
          <h1 class="titulo-azul"><strong>Porque Adotar?</strong></h1>
          <h2 class="subtitulo2"><strong>Já pensou em fazer um ou vários rostinhos felizes? e ainda levar alegria para toda a sua </strong><span style="color: #34b334;"><strong>FAMÍLIA?</strong></span><strong> NÃO perca a oportunidade de ser feliz e contribuir para o sucesso de um mundo melhor. </strong></h2>
          <div class="subtitulo"></div>
          <h2 class="subtitulo"><strong> Estima-se que no Brasil existam mais de 30 milhões de animais abandonados, entre 10 milhões de gatos e 20 milhões de cães. E VOCÊ ? Vai ficar ai PARADO ? Vamos AJUDAR ?</strong></h2>
          <div class="cg2">
            <img class="home-cg2" src="assets/image/cg2.png" alt="cg2" />
          </div>
        </div>

            
        <section>
          <h1 class="dev"><strong>Desenvolvedores(a) !</strong></h1>
        </section>

        <div class="bloco-scrum">
          <div class="bl" style="margin-left: 15%; float: left;"></div>
          <img
            class="home-lucas"
            src="assets/image/lucas.png"
            style="border-radius: 25px"
            alt="lucas"
          />
          <p class="Lucas1">
            <b><strong>Lucas Vilas</strong></b>
          </p>
          <p class="Lucas2">
            <strong>Scrum Master<br />Desenvolvedor Back-End</strong>
          </p>
        </div>

        <main>
          <div class="col-100 bloco-imagens-texto">
            <div class="content" style="margin-left: 25%; float: left">
              <div class="col-3 bloco-texto bloco-imagem">
                <img
                  class="home-fabiana"
                  src="assets/image/fabiana.png"
                  style="border-radius: 25px"
                  alt="mariana"
                />
                <p class="Fabiana1">
                  <b><strong>Fabiana Quelott</strong></b>
                </p>
                <p class="Fabiana2">
                  <strong>Product Owner<br> Desenvolvedora Mobile</strong>
                </p>
              </div>
              <div class="col-3 bloco-texto bloco-imagem">
                <img
                  class="home-fabricio"
                  src="assets/image/fabricio.png"
                  style="border-radius: 25px"
                  alt="fabricio"
                />
                <p class="Fabricio1">
                  <b><strong>Fabrício Luiz</strong></b>
                </p>
                <p class="Fabricio2">
                  <strong>Desenvolvedor Front-End</strong>
                </p>
              </div>
              <div class="col-3 bloco-texto bloco-imagem">
                <img
                  class="home-douglas"
                  src="assets/image/douglas.png"
                  style="border-radius: 25px"
                  alt="douglas"
                />
                <p class="Douglas1">
                  <b><strong>Douglas Torres</strong></b>
                </p>
                <p class="Douglas2"><strong>Desenvolvedor Mobile</strong></p>
              </div>
            </div>
            <div class="content" style="margin-left: 25%; float: left">
              <div class="col-3 bloco-texto bloco-imagem">
                <img
                  class="home-mariana"
                  src="assets/image/mariana.png"
                  style="border-radius: 25px"
                  alt="fabiana"
                />
                <p class="Mariana1">
                  <b><strong>Mariana Abreu</strong></b>
                </p>
                <p class="Mariana2">
                  <strong>Desenvolvedora Front-End</strong>
                </p>
              </div>
              <div class="col-3 bloco-texto bloco-imagem">
                <img
                  class="home-sunner"
                  src="assets/image/sunner.png"
                  style="border-radius: 25px"
                  alt="sunner"
                />
                <p class="Sunner1">
                  <b><strong>Sunner Lima</strong></b>
                </p>
                <p class="Sunner2">
                  <strong>Desenvolvedor Front-End</strong>
                </p>
              </div>
              <div class="col-3 bloco-texto bloco-imagem">
                <img
                  class="home-damaris"
                  src="assets/image/damaris.png"
                  style="border-radius: 25px"
                  alt="damaris"
                />
                <p class="Damaris1">
                  <b><strong>Dâmaris</strong></b>
                </p>
                <p class="Damaris2">
                  <strong> Desenvolvedora Back-End</strong>
                </p>
              </div>
            </div>
          </div>

          <div class="img3">
            <img class="home-cg3" src="assets/image/cg8.png" alt="cg3" />
          </div>
        </main>
        
        <footer>
        <div class="footer-2">
          <div class="content">
            <p><strong>NÃO COMPRE, ADOTE !</strong></p>
            
          </div>
        </div>
      </footer>
      </main>
    </body>

    <mat-card-header> </mat-card-header>
  </mat-card>
</div>
