<div class="wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="photo-galery-fundo">
        <body>
            <main>
              <h1 class="titulo">
                <strong>Galeria de fotos</strong>
              </h1>
              <div class="galery">
                <div class="photos-galery">
                  <img src="/assets/image/dog1.png" alt="dog-01" style="width:100%">
                </div>
                <div class="photos-galery">
                  <img src="/assets/image/dog2.png" alt="dog-02" style="width:100%">
                </div>
                <div class="photos-galery">
                  <img src="/assets/image/dog3.png" alt="dog-03" style="width:100%">
                </div>
                <div class="photos-galery">
                  <img src="/assets/image/dog4.png" alt="dog-04" style="width:100%">
                </div>
                <div class="photos-galery">
                  <img src="/assets/image/dog5.png" alt="dog-05" style="width:100%">
                </div>
                <div class="photos-galery">
                  <img src="/assets/image/dog6.png" alt="dog-06" style="width:100%">
                </div>
                <div class="photos-galery">
                  <img src="/assets/image/dog7.png" alt="dog-07" style="width:100%">
                </div>
                <div class="photos-galery">
                  <img src="/assets/image/dog8.png" alt="dog-08" style="width:100%">
                </div>
                <div class="photos-galery">
                  <img src="/assets/image/dog9.png" alt="dog-09" style="width:100%">
                </div>
                <div class="photos-galery">
                  <img src="/assets/image/dog10.png" alt="dog-10" style="width:100%">
                </div>
              </div>
            </main>
        </body>      
    </mat-card>
</div>
