<router-outlet></router-outlet>
<!-- Toolbar -->

       
<mat-toolbar color="primary" class="app-header">
  
  
  <img src="../assets/image/logo2.png" style="height:60%">
  <span fxFlex></span>
  
  <span class="nav-tool-items"> 
    <button mat-stroked-button class="toolbar-button"  (click)="goBackWindow()"  >
      <img src="assets/image/back-arrow.png" >
      <a style="position: absolute; top: 33px;left: 15px;">Voltar</a>
    </button>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>






