<div class="wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="photo-galery-fundo">
        <body>
            <main>
              <h1 class="titulo">
                <strong>Galeria de fotos</strong>
              </h1>
              <div class="galery">
                <div class="photos-galery">
                  <img src="/assets/image/cat1.png" alt="cat-01" style="width:100%">
                </div>
                <div class="photos-galery">
                  <img src="/assets/image/cat2.png" alt="cat-02" style="width:100%">
                </div>
                <div class="photos-galery">
                  <img src="/assets/image/cat3.png" alt="cat-03" style="width:100%">
                </div>
                <div class="photos-galery">
                  <img src="/assets/image/cat4.png" alt="cat-04" style="width:100%">
                </div>
                <div class="photos-galery">
                  <img src="/assets/image/cat5.png" alt="cat-05" style="width:100%">
                </div>
                <div class="photos-galery">
                  <img src="/assets/image/cat6.png" alt="cat-06" style="width:100%">
                </div>
                <div class="photos-galery">
                  <img src="/assets/image/cat7.png" alt="cat-07" style="width:100%">
                </div>
                <div class="photos-galery">
                  <img src="/assets/image/cat8.png" alt="cat-08" style="width:100%">
                </div>
                <div class="photos-galery">
                  <img src="/assets/image/cat9.png" alt="cat-09" style="width:100%">
                </div>
                <div class="photos-galery">
                  <img src="/assets/image/cat10.png" alt="cat-10" style="width:100%">
                </div>
              </div>
            </main>
        </body>      
    </mat-card>
</div>
