<div class="wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="cadastro-box">
    
    <mat-card-header>
      <img class="logo" src="assets/image/logo2.png" alt="login-logo">
    </mat-card-header>
     <div >
       <p class="title">
         Cadastro
       </p>
     </div>
      <div class="button">
        <nav>
        <button mat-stroked-button class="btn-block" (click)="goToOng()" >Ongs</button>
        
        </nav>
      </div>
      <div>
        <button mat-stroked-button color="basic" class="btn-block" (click)="goToUser()" >Usuário</button>
      </div>

    </mat-card>

</div>
